<div class="card">
  <%= link_to image_tag( product.image.split(/,/).first, class: "card-img-top", style: "width: 200px; height: 160px"), product_path(product) %>
  <div class="card-body">
    <h5 class="card-title"><%= product.product_name %></h5>
    <p class="product-description"><%= product.description %></p>
  </div>
  <div class="card-footer">
    <small class="text-muted"><%= product.discounted_price %></small>
  </div>
</div>
