<div class="row">
  <div class="col-9">
    <h1>All Products</h1>
    <div class="card-group">
      <% @products[0..3].each do |product| %>
        <%= render "product", { product: product} %>
      <% end %>
    </div>

    <h1>Sales</h1>
    <div class="card-group">
      <% @products[0..3].each do |product| %>
        <%= render "product", { product: product} %>
      <% end %>
    </div>

    <h1>Hots</h1>
    <div class="card-group">
      <% @products[0..3].each do |product| %>
        <%= render "product", { product: product} %>
      <% end %>
    </div>
  </div>

  <div class="col-3">
    <div id="cart">
      <%= render current_cart %>
    </div>
  </div>
</div>
