<div class="container" style="padding:auto;">
  <h1>Edit Review</h1>

  <section>
    <div class="container">
      <%= render 'form', {review: @review, product: @product} %>
    </div>
  </section>
</div>
